*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.box-container {
  display: flex;
  gap: 1em;
  min-width: 100vw;
}

.box-container div {
  padding: 1em;
}

.box-one {
  display: flex;
}